{
    "parserOptions": {
        "ecmaVersion": "latest"
    },
  "extends": "standard",
  "rules": {
    "curly": "off",
    "semi": "off",
    "no-var": "off",
    "array-callback-return": "off",
    "quotes": "off",
    "prefer-const": "off",
    "spaced-comment": "off",
    "arrow-parens": ["error", "always"],
    "comma-dangle": ["error", {
      "arrays": "only-multiline",
      "objects": "only-multiline",
      "imports": "only-multiline",
      "exports": "only-multiline"
    }],
    "max-len": [1, 120, 2],
    "space-before-function-paren": "off"
  }
}
