{
  "extends": ["stylelint-config-standard"],
  "rules": {
    "comment-empty-line-before": null,
    "no-descending-specificity": null,
    "color-function-notation": legacy,
    "alpha-value-notation": number,
    "selector-class-pattern": null,
    "custom-property-pattern": null,
  }
}
