<footer id="footer" class="oc-footer">
  <div class="container">
    <div class="uk-flex">
      <div class="uk-width-1-3">
        <div class="uk-nav">
          <h4 class="oc-footer-nav-title">About ownCloud</h4>
          <ul id="menu-about" class="menu">
            <li class="menu-enterprise"><a href="https://owncloud.com/" class="oc-footer-nav-link">Enterprise</a></li>
            <li class="menu-events"><a href="https://owncloud.org/events/" class="oc-footer-nav-link">Events</a></li>
            <li class="menu-news"><a href="https://owncloud.org/news/" class="oc-footer-nav-link">News</a></li>
            <li class="menu-privacy"><a href="https://owncloud.org/privacy-policy/" class="oc-footer-nav-link">Privacy policy</a></li>
            <li class="menu-imprint"><a href="https://owncloud.org/imprint/" class="oc-footer-nav-link">Imprint</a></li>
          </ul>
        </div>
      </div>
      <div class="uk-width-1-3">
        <div class="uk-nav">
          <h4 class="oc-footer-nav-title">Resources</h4>
          <ul id="menu-support-and-documentation" class="menu">
            <li class="menu-faq"><a href="https://owncloud.org/faq/" class="oc-footer-nav-link">FAQ</a></li>
            <li class="menu-help"><a href="https://owncloud.org/help/" class="oc-footer-nav-link">Help</a></li>
            <li class="menu-documentation"><a href="https://doc.owncloud.org" class="oc-footer-nav-link">Documentation</a></li>
            <li class="menu-security"><a href="https://owncloud.org/security/" class="oc-footer-nav-link">Security</a></li>
            <li class="menu-changelog"><a href="https://owncloud.org/changelog/" class="oc-footer-nav-link">Changelog</a></li>
          </ul>
        </div>
      </div>
      <div class="uk-width-1-3">
        <div class="uk-nav">
          <h4 class="oc-footer-nav-title">Interact</h4>
          <ul id="menu-interact" class="menu">
            <li class="menu-irc-channel"><a href="https://webchat.freenode.net/?channels=owncloud" class="oc-footer-nav-link">IRC Channel</a></li>
            <li class="menu-mailing-list"><a href="https://mailman.owncloud.org/mailman/listinfo/" class="oc-footer-nav-link">Mailing List</a></li>
            <li class="menu-forums"><a href="https://central.owncloud.org" class="oc-footer-nav-link">Forums</a></li>
            <li class="menu-bug-tracker"><a href="https://owncloud.org/community" class="oc-footer-nav-link">Get involved</a></li>
            <li class="menu-promote"><a href="https://owncloud.org/promote/" class="oc-footer-nav-link">Discuss ownCloud with others</a></li>
          </ul>
        </div>
      </div>
    </div>
    <p class="oc-footer-copyright">
      &copy; Copyright 2011-2018, The ownCloud developers.
    </p>
  </div>
</footer>
