<footer class="footer">
  <div class="container">
    <div class="row-full">
      <div class="col-third">
        <div class="footer-nav">
          <h4>About ownCloud</h4>
          <ul id="menu-about" class="menu">
            <li class="menu-landing"><a href="https://owncloud.com/">The Secure Collaboration Platform</a></li>
            <li class="menu-contribute"><a href="https://owncloud.com/contribute/">Contribute</a></li>
            <li class="menu-news"><a href="https://owncloud.com/news/">News</a></li>
            <li class="menu-privacy"><a href="https://owncloud.com/privacy-statement/">Privacy statement</a></li>
            <li class="menu-imprint"><a href="https://owncloud.com/imprint/">Imprint</a></li>
          </ul>
        </div>
      </div>
      <div class="col-third">
        <div class="footer-nav">
          <h4>Resources</h4>
          <ul id="menu-support-and-documentation" class="menu">
            <li class="menu-faq"><a href="https://owncloud.com/faq/">FAQ</a></li>
            <li class="menu-help"><a href="https://owncloud.com/docs-guides/">Help</a></li>
            <li class="menu-documentation"><a href="https://doc.owncloud.com">Documentation</a></li>
            <li class="menu-security"><a href="https://owncloud.com/security/">Security</a></li>
            <li class="menu-changelog"><a href="https://owncloud.com/changelog/">Changelog</a></li>
          </ul>
        </div>
      </div>
      <div class="col-third">
        <div class="footer-nav">
          <h4>Interact</h4>
          <ul id="menu-interact" class="menu">
            <li class="menu-mailing-list"><a href="https://talk.owncloud.com" class="oc-footer-nav-link">Rocket.Chat</a></li>
            <li class="menu-forums"><a href="https://central.owncloud.org" class="oc-footer-nav-link">Forums</a></li>
            <li class="menu-promote"><a href="https://owncloud.com/promote/" class="oc-footer-nav-link">Discuss ownCloud with others</a></li>
          </ul>
        </div>
      </div>
    </div>
    <p>
      &copy; Copyright 2011-2021, The ownCloud developers.
    </p>
  </div>
</footer>
