<footer class="footer">
  <div class="container">
    <div class="row-full">
      <div class="col-third">
        <div class="footer-nav">
          <h4>About ownCloud</h4>
          <ul id="menu-about" class="menu">
            <li class="menu-landing"><a href="https://owncloud.com/">The Secure Collaboration Platform</a></li>
            <li class="menu-news"><a href="https://owncloud.com/news/">News</a></li>
            <li class="menu-privacy"><a href="https://owncloud.com/privacy-statement/">Privacy statement</a></li>
            <li class="menu-imprint"><a href="https://owncloud.com/imprint/">Imprint</a></li>
          </ul>
        </div>
      </div>
      <div class="col-third">
        <div class="footer-nav">
          <h4>Resources</h4>
          <ul id="menu-support-and-documentation" class="menu">
            <li class="menu-faq"><a href="https://owncloud.com/faq/">FAQ</a></li>
            <li class="menu-help"><a href="https://owncloud.com/docs-guides/">Help</a></li>
            <li class="menu-security"><a href="https://owncloud.com/security/">Security</a></li>
            <li class="menu-changelog"><a href="https://owncloud.com/changelog/">Changelog</a></li>
            <li class="menu-get-started"><a href="https://owncloud.com/get-started/">Get started</a></li>
          </ul>
        </div>
      </div>
      <div class="col-third">
        <div class="footer-nav">
          <h4>Interact</h4>
          <ul id="menu-interact" class="menu">
            <li class="menu-forum"><a href="https://central.owncloud.org" class="oc-footer-nav-link">Forum</a></li>
            <li class="menu-contribute"><a href="https://owncloud.com/contribute" class="oc-footer-nav-link">Contribute</a></li>
            <li class="menu-customer-support"><a href="https://owncloud.com/support" class="oc-footer-nav-link">Customer support</a></li>

          </ul>
        </div>
      </div>
    </div>
    <p>
      &copy; Copyright 2011-{{year "yyyy"}}, The ownCloud developers.
    </p>
  </div>
</footer>
