<a class="navbar-item" href="/">Documentation</a>
<a class="navbar-item" href="https://owncloud.org/features/">Features</a>
<a class="navbar-item" href="https://owncloud.org/news/">News</a>
<a class="navbar-item" href="https://owncloud.org/community/">Community</a>
<a class="navbar-item" href="https://owncloud.org/help/">Help</a>
<a class="navbar-item" href="https://owncloud.com/">Enterprise Edition</a>
<a class="navbar-item button is-primary" href="https://owncloud.org/install/">Download</a>
