    <header class="header" role="banner">
      <nav class="navbar">
        <div class="navbar-brand">
          <a class="navbar-item navbar-logo" href="{{{or site.url siteRootPath}}}">
            <img src="{{{uiRootPath}}}/img/oc-logo.svg" alt="ownCloud">
            <span class="navbar-title">{{site.title}}</span>
          </a>
          <div class="navbar-item search">
            <div id="search"></div>
          </div>
          <!-- we do not have any hamburger stuff to show like links to external sites
           <button class="navbar-burger" aria-controls="topbar-nav" aria-expanded="false" aria-label="Toggle main menu">
           <span></span>
           <span></span>
           <span></span>
           </button>
          -->
        </div>
        <div id="topbar-nav" class="navbar-menu">
          <div class="navbar-end"> </div>
        </div>
      </nav>
    </header>
