<div class="main-wrapper">
  {{> nav}}

  <main class="main">
    {{#if (eq page.layout '404')}}
      {{> article-404}}
    {{else}}
      {{> toolbar}}
      {{> article}}
    {{/if}}
  </main>
</div>
