<div class="uk-width-1-5 uk-visible@m uk-background-muted uk-padding-small uk-container uk-container-expand uk-position-relative"{{#if page.component}} data-component="{{page.component.name}}" data-version="{{page.version}}"{{/if}}>
  <aside class="sidebar uk-overflow-auto uk-position-z-index" uk-height-viewport="offset-top: true" uk-sticky="offset: 105; bottom: true;">
    {{> navigation-menu}}
    {{> navigation-explore}}
  </aside>
</div>
