<aside class="uk-width-3-4 uk-width-1-5@m uk-background-muted"{{#if page.component}} data-component="{{page.component.name}}" data-version="{{page.version}}"{{/if}}>
  <div id="sidebar" class="oc-sidebar">
    {{> navigation-menu}}
    {{> navigation-explore}}
  </div>
</aside>
