{{#if page.versions}}
  <div class="page-versions uk-inline">
    <button type="button" class="versions-menu-toggle" title="Show other versions of page">{{page.version}}</button>
    <div class="versions-menu" uk-dropdown="mode: click; animation: uk-animation-slide-top-small; duration: 500">
      <ul class="uk-nav uk-dropdown-nav">
        {{#each page.versions}}
          <li><a class="version
            {{~#if (eq ./version @root.page.version)}} is-current{{/if~}}
            {{~#if ./missing}} is-missing{{/if}}" href="{{{relativize @root.page.url ./url}}}">{{./version}}</a></li>
        {{/each}}
      </ul>
    </div>
  </div>
{{/if}}
