<div class="toolbar" role="navigation">
  <button class="navigation-toggle"></button>
  {{#with site.homeUrl}}
    <a href="{{{relativize this}}}" class="home-link{{#if @root.page.home}} is-current{{/if}}"></a>
  {{/with}}
  {{> breadcrumbs}}
  {{> page-versions}}
  {{> edit-this-page}}
</div>
