:root {
  /* base.css */
  --color-text: #1f2939;
  --color-navbar-bg: #1b223d;
  --color-navbar-bg-focus: #0e152d;
  --color-navbar-text: #fff;
}

html,
body {
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-size: 1.1em;
  text-size-adjust: 100%;
}

@media screen and (width >= 1024px) {
  html {
    font-size: 1.2em;
  }
}

body {
  color: var(--color-text);
  line-height: 1.6;
  margin: 0;
  tab-size: 4;
  word-wrap: anywhere; /* aka overflow-wrap; used when hyphens are disabled or aren't sufficient */
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

code,
kbd,
pre {
  font-family: "Roboto Mono", monospace;
}

b,
dt,
strong,
th {
  font-weight: 500;
}
