/**
 * Supplemental Formatting Styles
 */
html {
  font-family: "Open Sans", sans-serif;
}

b,
dt,
strong,
th {
  font-weight: 700;
}

/**
 * Supplemental (Image-related) Styles, text is forced to be aligned left
 * background-color: #f3f3f3;
 * color: #8c8c8c;
 */
div.paragraph div.title {
  color: #7a2518;
  font-size: 85%;
  font-style: italic;
  padding: 2px;
  text-align: left;
}

/**
 * dlist title same as div.paragraph title
 */
div.dlist div.title {
  color: #7a2518;
  font-size: 85%;
  font-style: italic;
  padding: 2px;
  text-align: left;
}

/**
 * div.paragraph p span.image img {
 * border-radius: 3px;
 * border: 1px solid #cecece;
 * padding: 2px;
 * }
 */

/**
 * The table caption text is forced to be aligned left (standard = center)
 * and has the same color of div.title as above
 */
caption {
  display: table-caption;
  text-align: left;
  color: #7a2518;
}

/**
 * Supplemental Navigation Styles
 */
li.nav-item.is-current-page.is-active a.nav-link {
  text-decoration: underline;
  font-style: italic;
}

li.nav-item.is-current-page.is-active ul li.nav-item a.nav-link {
  font-style: normal;
  text-decoration: none;
}

footer {
  overflow: auto;
}

footer div.container p {
  text-align: center;
  margin-top: 20px;
}

footer div.container div.row-full {
  margin: 0 auto;
  margin-left: 3%;
  width: 100%;
  clear: both;
  float: left;
}

footer div.container div.row-full div.col-third {
  float: left;
  width: 33%;
}

blockquote::before {
  content: "\201c";
  float: left;
  font-size: 2.75em;
  font-weight: bold;
  line-height: 0.6em;
  margin-left: -0.6em;
  color: #1d2d44;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.quoteblock blockquote div.paragraph p {
  color: rgba(0, 0, 0, 0.85);
  font-size: 1rem;
  line-height: 1.65;
  word-spacing: 0.1em;
  letter-spacing: 0;
  font-style: italic;
  text-align: justify;
}

#search {
  display: inline-flex;
  background-color: #fff;
  border: 1px solid #e1e1e1;
  border-radius: 0.15rem;
  height: 1.75rem;
  color: #333;
  padding: 0 0.75em;
  white-space: nowrap;
  font-size: 1em;
}

.videoblock {
  margin-top: 20px;
}

/**
 * Supplemental Responsive Styles
 */
@media screen and (max-width: 600px) {
  footer div.container div.row-full {
    margin-left: 0;
    width: 100%;
  }

  footer div.container div.row-full div.col-third {
    width: 50%;
    margin: 0 auto;
    float: none;
  }
}

@media screen and (min-width: 601px) {
  footer div.container div.row-full {
    margin-left: 0;
    width: 100%;
  }

  footer div.container div.row-full div.col-third {
    width: 33%;
    margin: 0 auto;
  }
}
